@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
  font-family: 'Roboto', Helvetica, sans-serif;
}

@layer utilities {
  .top-[-50px] {
    top: -50px;
  }
  .left-[-50px] {
    left: -50px;
  }
}

.navbar {
  background-color: #333;
  padding: 16px;
  display: flex;
  justify-content: center;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 50%;
}

.navItem a {
  color: white;
  text-decoration: none;
  font-size: 19.2px;
}

.navItem a:hover {
  text-decoration: underline;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
  width: 100vw;
  height: calc(100vh - 80px);
}

.aboutMe {
  display: flex;
  border: thin solid black;
  padding: 10px;
  width: 1300px;
  height: 320px;
}

.authorBody {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.authorTitle {
  display: flex;
  align-items: center;
}

.authorName {
  font-size: 32.8px;
  font-weight: 500;
  margin-right: 10px;
}

.jobTitle {
  font-size: 27.2px;
  font-weight: 400;
  padding-left: 5px;
  color: gray;
}

.topicsOuter {
  display: flex;
  margin-left: 10px;
}

.head {
  height: 280px;
  width: 280px;
  border-radius: 20px;
}

.topics {
  padding: 5px 10px;
  border: solid 2px purple;
  border-radius: 30px;
  margin-right: 5px;
}

.description {
  padding-left: 6px;
 
}

.outerDescription {
  min-width: 400px;
  flex-shrink: 1;
  word-break: break-word;
}

.studyGuidesOuter {
display: flex;
  border: thin solid black;
  padding: 10px;
  width: 1300px;
  height: 300px;
  margin-top: 20px;
}

.studyGuides{
  font-size: 20px;
}


