@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} 

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: Roboto, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
    
}

.navbar {
  background-color: #333;
  padding: 1rem;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navItem a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.navItem a:hover {
  text-decoration: underline;
}

main {
  display: block;
  height: 100%;
}
.aboutMe {
display: flex;
 border: thin solid black;
 padding: 10px;
 max-width: 100%;
 min-height: 360px;

}
.authorBody {
padding-left: 10px;
}
.authorName {
font-size: 38px;
font-weight: bold;
}
.authorTitle {
  display:flex;
  padding-left: 10px;
  
}
.topicsOuter {
  display: flex;
  padding-left: 50px;
  padding-top: 12px;
}
.head {
  height: 15%;
  width: 15%;

}

.topics{
  padding: 1px 13px 1px 13px;
  border: solid 2px purple;
  border-radius: 30px;
}